{% extends 'revision_commissions/base2.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Centering div -->
<div class="container-fluid col-md-10 col-md-offset-1">

  <h5 class="m-4">Редактирование данных:</h5>
  
  <form action="{% url 'revision_commissions:edit_organization' organization.id organization.type %}" method='post'>
    {% csrf_token %}
	{{ form|crispy }}
		<div class="form-group m-4">
        	<input class="btn btn-primary" type="submit" value="Добавить">
    	</div>
  </form>

  	<!-- ERROR MESSAGES -->
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}
	<!-- END -->
</div>
{% endblock content %}
