{% extends 'revision_commissions/base2.html' %}


{% block content %}
<div class="container-fluid col-md-10 col-md-offset-1">
    <h5 class="card-header">Общая информация</h5>
    <div class="card-body">
    <p>Государственное учреждение «Ревизионная комиссия по Атырауской области» создано в соответствии с Указом Президента Республики Казахстан от 2 мая 2011 года № 67 «О совершенствовании органов внешнего государственного финансового контроля в регионах».</p>
        <p>Ревизионная комиссия по Атырауской области является государственным органом, осуществляющим внешний государственный аудит и финансовой контроль за исполнением местного бюджета.</p>
        <p>Ревизионная комиссия осуществляет свою деятельность в пределах соответствующей административно-территориальной единицы в соответствии с Конституцией Республики Казахстан, законами Республики Казахстан, актами Президента Республики Казахстан и Правительства Республики Казахстан, Регламентом Ревизионной комиссии, а также настоящим Положением.</p>
        <p>Основными задачами Ревизионной комиссии являются:</p>
        <p>1) осуществление внешнего государственного аудита и финансового контроля на местном уровне за исполнением местных бюджетов, использованием активов государства и субъектов квазигосударственного сектора;</p>
        <p>2) контроль за соблюдением требований бюджетного законодательства Республики Казахстан, законодательства Республики Казахстан о государственных закупках и иных нормативных правовых актов Республики Казахстан в области исполнения местных бюджетов, использования средств бюджета, активов государства и субъектов квазигосударственного сектора;</p>
        <p>3) анализ и оценка исполнения местных бюджетов, реализации программ развития территорий и бюджетных программ.</p>
        <p>В рамках возложенных задач, Ревизионной комиссией будут выполняться следующие функции:</p>
        <p>1) аудит эффективности:</p>
        <p>планирования и исполнения местного бюджета в соответствии с принципами бюджетной системы Республики Казахстан с подготовкой отчета об исполнении местного бюджета за отчетный финансовый год, который по своему содержанию является заключением к соответствующему отчету местного исполнительного органа;</p>
        <p>использования связанных грантов, бюджетных инвестиций, государственных и гарантированных государством займов, займов, привлекаемых под поручительство государства и активов государства;</p>
        <p>влияния деятельности местного исполнительного органа и субъектов квазигосударственного сектора на развитие экономики или отдельно взятой отрасли экономики, социальной и других сфер государственного управления;</p>
        <p>реализации документов Системы государственного планирования в части исполнения соответствующего бюджета и использования активов</p>
        <p>государства, а по поручениям Президента Республики Казахстан также по иным направлениям;</p>
        <p>обоснованности планирования, реализуемости и эффективности осуществления местными исполнительными органами и субъектами квазигосударственного сектора закупок товаров, работ, услуг;</p>
        <p>ценообразования, включая оценку разницы между размером выделенных (затраченных) местных финансовых ресурсов на приобретение товаров, работ, услуг и рыночной стоимостью приобретенных товаров, работ, услуг;</p>
        <p>управления активами субъектов квазигосударственного сектора;</p>
        <p>налогового администрирования;</p>
        <p>договоров;</p>
        <p>в сфере охраны окружающей среды;</p>
        <p>в сфере информационных технологий;</p>
        <p>деятельности объектов государственного аудита;</p>
        <p>2) аудит соответствия:</p>
        <p>достоверности и правильности ведения объектами государственного аудита бухгалтерского учета и составления финансовой отчетности;</p>
        <p>выполнения местными исполнительными органами и субъектами квазигосударственного сектора условий договоров;</p>
        <p>полноты и своевременности поступлений в местный бюджет, взимания поступлений в бюджет, а также правильности возврата, зачета ошибочно (излишне) оплаченных сумм из местного бюджета;</p>
        <p>использования средств местного бюджета, в том числе выделенных из вышестоящего в нижестоящий бюджет в виде целевых трансфертов и кредитов, связанных грантов, государственных и гарантированных государством займов, а также займов, привлекаемых под поручительство государства;</p>
        <p>использования субъектами квазигосударственного сектора выделенных им средств местного бюджета на соответствие финансово-экономическому обоснованию;</p>
        <p>3) аудит консолидированной финансовой отчетности местного бюджета, аудит финансовой отчетности администраторов бюджетных программ и государственных учреждений.</p>
        <p>По итогам проведенных контрольных мероприятий Ревизионной комиссией будут приниматься постановления, которые являются обязательными для исполнения всеми указанными в постановлении юридическими лицами.</p>
        <p>Ежегодно Ревизионной комиссией составляется и представляется на рассмотрение маслихата отчет об исполнении местного бюджета за отчетный финансовый год по форме и структуре, определенной процедурным стандартом внешнего государственного аудита и финансового контроля по предоставлению Ревизионной комиссии отчета об исполнении местного бюджета маслихатам, утверждаемым Счетным комитетом.</p>
        <p>Ревизионной комиссией ежеквартально представляется информация Счетному комитету о своей работе за отчетный период по форме и структуре, определяемых процедурным стандартом внешнего государственного аудита и финансового контроля по предоставлению Ревизионной комиссией информации Счетному комитету, утверждаемым Счетным комитетом.</p>
        <p>Вся контрольная, экспертно-аналитическая и информационная деятельность Ревизионной комиссии будет осуществляться членами Ревизионной комиссии в количестве 4 человек, являющихся по статусу политическими государственными служащими. Деятельность Ревизионной комиссии осуществляется в соответствии с перечнем объектов государственного аудита на соответствующий год, утверждаемым Председателем Ревизионной комиссии.</p>
        <footer class="blockquote-footer">Дата публикации: 09.04.2020</footer>
    <!-- end of card div -->
    </div>

    <!-- messages and stuff -->
	{% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}
