{% extends "revision_commissions/base2.html" %}

<!-- FORMS -->
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid col-md-10 col-md-offset-1">
	<h5 class="m-4">Добавление пользователя:</h5>
	<form action="{% url 'revision_commissions:register' %}" method='post'>
		{% csrf_token %}
		{{ form|crispy }}
		{{ user_form|crispy }}
        <div class="form-group m-4">
        	<input class="btn btn-primary" type="submit" value="Регистрация">
    	</div>
	</form>
	{{ message }}
	<!-- ERROR MESSAGES -->
	{% if form.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-danger">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}
	<!-- END -->
</div>
{% endblock content %}
