{% extends 'revision_commissions/base2.html' %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h2 class="font-weight-bold mt-3">Письмо для сброса пароля отправлен</h2>
		<hr>
		<p>Мы отправили вам по электронной почте инструкции по сбросу пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время. <br> Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, на который вы зарегистрировались, и проверьте папку со спамом.</p>
  </div>

{% endblock %}